---
layout: base
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{ site.title }} &mdash; {{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="noindex, nofollow">

    <link href="{{ site.baseurl}}/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ site.baseurl}}/css/bootstrap-responsive.min.css" rel="stylesheet">
    <link href="{{ site.baseurl}}/css/style.css" rel="stylesheet">

    <script src='{{ site.baseurl}}/js/jquery-1.7.1-min.js'></script>
    <script src="{{ site.baseurl}}/js/Modernizr-custom-2.6.1.js"></script>
    <script>
        Modernizr.addTest('firefox', function () {
            return 'MozBoxSizing' in document.documentElement.style;
        });
    </script>
</head>

<div class="navbar navbar-fixed-top navbar-inverse">
    <div class="navbar-inner">
        <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a href="/Jangle" class="brand">Jangle</a>
            <div class="nav-collapse">
                <ul id="navApp" class="nav">
                    <li><a id="lnkHome" href="/">Home</a></li>
                    <li><a href="#">Specification</a></li>
                    <li><a href="#">Mailing list</a></li>
                    <li><a href="#">Project pages</a></li>                        
                    <li><a href="#">Source code</a></li>                        
                    <li><a href="#">Vocabulary</a></li>                        
                </ul>
            </div>
        </div>
    </div>
</div>

<div id="pageContent" class="container">

    <article>
       {{ content }}
    </article>

    <footer id="footer">
        <div class="row">
            <div class="span8">
                <p><a href="/aup">Acceptable Use Policy</a> | <a href="/terms">Terms &amp; Conditions</a></p>
                <p>Copyright &copy; 2013 Talis Education Limited, all rights reserved</p>
            </div>
            <div class="span4"><p class="pull-right"><a href="#">Back to top</a></p></div>
        </div>
    </footer>

</div>

<script src='{{ site.baseurl}}/js/bootstrap.min.js'></script>
<script src='{{ site.baseurl}}/js/bootstrap-button.js'></script>
<script src='{{ site.baseurl}}/js/bootstrap-tooltip.js'></script>
<script src='{{ site.baseurl}}/js/bootstrap-popover.js'></script>
<script src='{{ site.baseurl}}/js/bootstrap-radio-button-form-inputs.js'></script>

</body>
</html>